.controls{
    width: 50rem;
    background-color: #fafafa;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    padding: 32px 0;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.20);
}
.order-btn{
    background-color: #e1bee7;
    outline: none;
    border: none;
    border-radius: 3px ;
    color: #8e24aa;
    font: inherit;
    padding: 16px 32px;
    margin-top: 32px;
}
.price p {
    color: #6a1b9a;
    font-weight: bold;
    font-size: 1.2rem;
}